@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');

.menu-btn{
  display: none;
}



.rwd{
  display: none;}





/* 上面是關閉手機的nav */
#loading {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 16px;
}

#loading-gif {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 6s linear infinite;
}




body::before {

  content: "1";
  background-image: url("../img/author/background.jpg");
  position: fixed;
  background-size: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* 上面是top */

nav {
  background: url(../img/index/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 10px;
  height: 90px;
  padding-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  width: 180px;
  padding-top: 40px;
  justify-content: center;

}

nav img {
  height: 90px;
  margin-right: 10px;


}



.shopping {
  height: 50px;
  width: 50px;
  margin-top: -22px;
  display: block;
}


nav ul .shoppingg {
  background-image: url(../img/icon/Shopping\ 5.png);
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;

}



.shoppingg:hover {
  background-image: url(../img/icon/color_shopping.png);

}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;


}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}


nav .member:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/member\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .album:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/album.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .author:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/author.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .box:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/box\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


nav .information:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/information.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .connection:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/connection.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 上面是導覽列 */

.top {
  width: 1000px;
  height: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* border: 1px solid #ffffff; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.top_left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top_left img {

  width: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px white;
 
}


.top_right {
  width: 70%;
  display: flex;
  justify-content: right;
  align-items: center;
}


.top_right p {

  color: #ffffff;
  line-height: 1.6;

}

/* 上面是作者介紹 */


.experience {
  width: 1000px;
  height: 400px;
  display: flex;
  margin: 0 auto;
  /* border: 3px solid #ffffff; */
  margin-top: 50px;
  margin-bottom: 100px;
}


.experience_left {

  /* border: 1px solid #ffffff; */
  color: #ffffff;
  width: 70%;
  line-height: 1.6;
  margin: 10px 10px;

}

#my-paragraph {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

h2 {
  font-size: 20px;
}

h2>p {
  font-size: 16px;
}


.experience_ight img {

  width: 250px;
  height: 300px;
  padding-top: 100px;

}

.experience_ight {
  position: relative;
  display: inline-block;
  margin: 5px 5px;
}

.normal-image,
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  filter: drop-shadow(3px 3px 3px rgb(250, 250, 250));

}

.normal-image {
  z-index: 1;
  opacity: 1;
}

.hover-image {
  z-index: 2;
  opacity: 0;
}

.experience_ight:hover .normal-image {
  opacity: 0;

}

.experience_ight:hover .hover-image {
  opacity: 1;
  filter: drop-shadow(3px 3px 3px rgb(58, 3, 3));
}


/* 上面為早期經歷 */


.creation {
  width: 1000px;
  height: 700px;
  /* border: 3px solid #ffffff; */
  margin: 0 auto;
  color: #ffffff;
  padding: 15px;
  line-height: 1.6;
  margin-bottom: 60px;

}

.hidden {
  display: none;


}

.read-more-link {
  display: inline-block;
  cursor: pointer;
  color: rgb(252, 235, 235);
  text-decoration: underline;
  float: right;
  text-decoration: none;

  font-size: 1.5em;
}

.first-letter:first-letter {
  font-size: 2em;
  
}

/* 上面是一些文字 */

.movie {

  width: 1000px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* border: #fff 1px solid; */
  margin-bottom: 20px;

}


.movie_l {
  color: #ffffff;
  line-height: 1.6;
  margin: 10px 20px;
}

.movie_l h2 {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 5px;
}

.movie2 {

  width: 1000px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* border: #fff 1px solid; */
  margin-bottom: 200px;

}


.movie2_r {
  color: #ffffff;
  line-height: 1.6;
  margin: 10px 20px;
  padding-top: 80px;
}





.fixed-image {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.fixed-image a {
  display: block;
}

.fixed-image a img {
  display: block;
  max-width: 10%;
  float: right;
}


.fixed-image {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.fixed-image a {
  display: block;
}

.fixed-image a img {
  display: block;
  max-width: 80%;
  float: right;
}

.fixed-image img {
  transition: transform 0.5s ease;
}

.fixed-image img:hover {
  transform: scale(1.2);
}

.fixed-image{
width: 130px;

}
/* 上面是影片的往上撥放 */

.booook{
  display: flex;
  justify-content: center; /*水平置中*/
  align-items: center; /*垂直置中*/
 box-sizing: border-box;
 padding-bottom: 100px;
 
}




.flipbook{
background-image: url(../img/author/book/background.png);

/* margin:  0 auto; */
margin-left: 0;
display: flex;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;

}

.flipbook p{
 width: 90%;
 text-indent: 2em;
}

 .book_1{
  background-image: url(../img/author/book/background.png);
margin:  0 auto;
width: 800px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 10px;

}

.book_1 img{

width: 80%;
margin: 0 auto;
padding-top: 50px;


}

.book_1_t{
flex: 0;
 
}

.book_1_b{
  flex: 1;
  text-align: center;
   
  }




/* 這邊是第一頁 */

.book_2{
  background-image: url(../img/author/book/background.png);
margin:  0 auto;
width: 800px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 10px;
}

.book_2 img{

width: 50%;
margin: 0 auto;
padding-top: 20px;


}

.book_2_t{
flex: 0;
 
}

.book_2_b{
  flex: 1;
  text-align: center;
   
  }

/* 這邊是第二頁 */

.book_3{
  background-image: url(../img/author/book/background.png);
margin:  0 auto;
width: 800px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 10px;
}

.book_3 img{

width: 60%;
margin: 0 auto;
padding-top: 20px;

}

.book_3_t{
flex: 0;
 
}

.book_3_b{
  flex: 1;
  text-align: center;
   
  }

/* 這邊是第三頁 */
.book_4{
  background-image: url(../img/author/book/background.png);
margin:  0 auto;
width: 800px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 10px;
}

.book_4 img{

width: 40%;
margin: 0 auto;
padding-top: 10px;

}

.book_4_t{
flex: 0;
 
}

.book_4_b{
  flex: 1;
  text-align: center;
   
  }

/* 這邊是第四頁 */

.book_5{
  background-image: url(../img/author/book/background.png);
margin:  0 auto;
width: 800px;
height: 500px;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
line-height: 1.6;
color: rgb(255, 255, 255);
font-weight: bold;
text-shadow: 2px 2px 0 rgb(0, 0, 0);
box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 10px;
}

.book_5 img{

width: 60%;
margin: 0 right;
padding-top: 30px;

}

.book_5_t{
flex: 0;
 
}

.book_5_b{
  flex: 1;
  text-align: center;
   
  }

/* 這邊是第五頁 */













/* 上面是翻書的地方 */

/* 下面是底層 */

.bottom {
  display: flex;
 padding-top: 5px;
 position: relative;
 bottom: 0;
 color: #ffffff;
 background-size: auto 200px;
 line-height: 1.4;
 padding: 10px 10px;
 justify-content: flex-end;
 font-size: 10px;
 background-image: url(../img/bottom_img.jpg);
 background-size: cover;
 background-position: center center;
 background-size: 20%;

}





.bottom .left, .center, .right {
 width: 100%;
 height: 100%;
}

.bottom .left {


}

.bottom .center {

 text-align: center;
 line-height: 50px;
}

.bottom .right {

 align-self: center;
 vertical-align: middle;
 text-align:right;
 padding-left: 5px;
}

.bottom img{

height: 25px;
margin-left: 5px;

}