@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');


body {

  background-color: black;
  font-family: 'Noto Sans JP', sans-serif;
  /* 日文 */
  font-family: 'Noto Serif SC', serif;
  /* 中文 */
  width: 100%;
  margin: 0 auto;

}

body {
  background-color: black;
  background-image: url(../img/contact_us/background.jpg);
  background-position: center left;
  background-attachment: fixed;
  background-size: contain;
  background-size: cover;
  background-size: 50%;
  background-repeat: no-repeat;
}

nav {
  background: url(../img/index/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 10px;
  height: 90px;
  padding-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  width: 180px;
  padding-top: 40px;
  justify-content: center;

}

nav img {
  height: 90px;
  margin-right: 10px;

}



.shopping {
  height: 50px;
  width: 50px;
  margin-top: -22px;
  display: block;
}


nav ul .shoppingg {
  background-image: url(../img/icon/Shopping\ 5.png);
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;

}



.shoppingg:hover {
  background-image: url(../img/icon/color_shopping.png);

}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;


}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}


nav .member:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/member\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .album:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/album.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .author:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/author.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .box:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/box\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .information:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/information.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .connection:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/connection.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

/* 上面是導覽列 */





.connect {
  width: 600px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* 左右對齊 */
  border: 3px solid #ffffff;
  margin-top: 30px;
  margin-bottom: 200px;

}



.connect_l {
  flex: 0 0 35%; /* 佔35%寬度，不可拉伸或縮小 */
  text-align: center; /* 水平置中對齊 */
  /* border: 3px solid #ffffff; */
  text-align: center
}

.connect_r {
  flex: 0 0 65%;
  padding-left: 20px; 
  /* border: 3px solid #ffffff; */
  color: #ffffff;

}


.connect_l img{

  max-height: 100%;

}



table {
  border-collapse: collapse;
  width: 65%;
  display: flex;
  justify-content: center; /*水平居中*/
padding-top: 30px;
text-align: center
}

td {
  height: 1em;
  padding: 5px;
  text-align: center;
  
}


textarea{
width: 100%;
height: 150px;
}

.file{
  left: 50%;

}






































/* 下面是底層 */

.bottom {
  display: flex;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  background-size: auto 200px;
  line-height: 1.4;
  padding: 10px 15px;
  justify-content: flex-end;
  font-size: 10px;
  background-image: url(../img/bottom_img.jpg);
  background-size: cover;
  background-position: center center;
  background-size: 20%;

}





.bottom .left,
.center,
.right {
  width: 100%;
  height: 100%;
}

.bottom .left {}

.bottom .center {

  text-align: center;
  line-height: 50px;
}

.bottom .right {

  align-self: center;
  vertical-align: middle;
  text-align: right;
  margin-right: 10px;

}

.bottom img {

  height: 25px;
  margin-left: 5px;
  margin-right: 10px;

}