
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');
@media screen and (max-width: 414px) {

.pc{
display: none;
}

/* 導覽列的初始樣式 */
.navbar {
  position: fixed;
  top: 0;
  left: -300px; /* 導覽列往左移出畫面 */
  width: 250px;
  height: 100%;
  background-color: #000000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 9998;
}

/* 導覽列內的連結樣式 */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li {
  font-size: 1.6rem;
  line-height: 3rem;
  transition: all 0.3s ease;
}

.navbar li.active {
  font-size: 2rem;
  line-height: 4rem;
}



.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  border-bottom: 1px solid #000000;
  
}

.navbar a:hover {
  background-color: #000000;
  border-bottom:  2px solid #ffffff;
  font-size: 25px;
}

/* 漢堡列按鈕的樣式 */
.menu-btn {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 9998;
}

.bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000000;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}

/* 漢堡列按鈕的動畫效果 */
.menu-btn.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-btn.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* 導覽列展開後的樣式 */
.navbar.open {
  left: 0; /* 導覽列滑入畫面 */
}

nav img{
  border-radius: 50%;
  margin-right: 40px;
  height: auto;
}
.navbar ul li:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar ul li:last-child img {
  margin-top: 15px;
  margin-bottom: 10px;


}








  /* 上面是RWD的nav */
  
  body {
    background: rgb(175, 66, 66);
    background: radial-gradient(circle, rgb(138, 14, 14) 4%, rgb(34, 17, 14) 100%);
    font-family: 'Noto Sans JP', sans-serif;
    /* 日文 */
    font-family: 'Noto Serif SC', serif;
    /* 中文 */
    width: 100%;
    margin: 0 auto;

  }

  #loading {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
   
 
  }
  
  #loading-gif {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 6s linear infinite;
    display: none;
   
  }
  .top .text {
    color: #cfc7c7;
    width: 650px;
    /* border: 1px solid #fff; */
    line-height: 1.6;
    font-size: 30px;
    text-align: justify;

  }
  #image3 {
    position: absolute;
    top: 350px;
    right: 10px;
    opacity: 0.5;
    width: 300px;
    display: none;
  }
  
  
  #image4 {
    position: absolute;
    top: 350px;
    left: 13px;
    height: 400px;
    display: none;
  }
  
  #image5 {
  
    position: absolute;
    top: 470px;
    left: 103px;
    height: 50px;
    animation: spin 4s linear infinite;
    display: none;
  }
  #image6 {

    position: absolute;
    top: 34px;
    left: 0px;
    height: 250px;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: none;
  }

  #image7 {
    position: absolute;
    top: 470px;
    left: 3px;
    height: 400px;
    width: 1100px;
    animation-name: cloud;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    opacity: .9;
    display: none;
  }  
  #snails {
    position: absolute;
    /* 設置該元素為絕對定位 */
    /* right: -150; */
    animation-name: move;
    /* 設置動畫名稱 */
    animation: move 10s linear infinite;
    animation-timing-function: ease-out;
    /* 設置動畫速度曲線為ease-out，即緩慢加速 */
 display: none;
  
  }
  

.mid{
  display: none;
}

  .mid::before {
    content: counter(name);
    background-image: url("../img/index/tree.png");
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 60%;
    float: right;
    display: none;
  }
  #image9 {

    position: absolute;
    top: 40px;
    right: 20px;
    height: 300px;
    filter:drop-shadow(3px 3px 3px rgb(0, 0, 0));
    display: none;
  }
  
  #image8 {

    position: absolute;
    top: 50px;
    left: 20px;
    height: 100px;
    animation-name: float2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: none;
  }

  #image10 {

    position: absolute;
      top: 386px;
      right: 5px;
      height: 200px;
      opacity: 0.3;
      display: none;
  }

.wooden {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-image:url('../img/index/double_one_background/double_one_background.jpg');
  background-position: top left, bottom right;
  background-repeat: no-repeat, repeat-x;
  background-size: 50%, 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden; 
  animation-name: bg-carousel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  overflow: hidden;
  display: none;
}
.wooden img {
  width: 50px;
  height: 100px;
  margin: 0 20px; /* 調整圖片之間的間距 */
  max-width: 100%; /* 圖片寬度最大為容器的寬度 */
  transition: transform 0.3s ease-in-out; /* 添加動畫效果 */
   justify-content: center;
   
  
}


.mp4 img{

  width: 100px;
  height: 100px;
 margin-bottom: 20px;
 margin-right: 50px;
  
  }


   .faq td{
width: 150px;

  }
  
  .faq h2{
margin-left: 30px;

  }
  .faq p{

    background: linear-gradient(to right, white, #981616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 2px 2px 4px 0px rgba(243, 227, 227, 0.9); 
    height: 20px;
    text-align:left;
    display: flex;
    align-items: center;
    padding-left: 3px;
    display: flex;
    align-items: center;
    font-size: 8px;
    margin-left: 8px;
  
  }
  .boxs{

    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: url("../img/index/Blood_Eucalyptus.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat, repeat-x;
    background-size: 30%, 30%;
    position: relative;
    padding-top: 5px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    
  
    }



.wooden{
  display: none;
}
    
/* 下面是rwd的一個圖片展示 */



.mid_rwd{
  margin: 0 auto;
  background-image:url('../img/index/double_one_background/double_one_background.jpg');
  background-position: top left, bottom right;
  background-repeat: no-repeat, repeat-x;
  background-size: 50%, 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden; 
  animation-name: bg-carousel;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 50px;

}


.mid_rwd img{
  width: 160px;
  height: 272px;
  box-shadow: 0 0 10px #fff;
  margin-bottom: 40px;
  margin-right: 19px;
  margin-left: 19px;
 
}



.mid_rwd ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mid_rwd li {
  display: inline-block;
  position: relative;
  text-align: center;
}

.caption {
  
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 添加半透明背景色 */
  padding: 10px;
  margin: 0;
  text-align: center;
  transition: transform 0.3s ease-out; /* 添加 transform 屬性及過渡效果 */
  transform: translateY(100%); /* 將標題容器向下移動 */
}

.mid_rwd li:hover .caption {
  opacity: 1;
}


li:hover .caption {
  transform: translateY(0);
}
.top{
  padding: 0px;
}

.top .imggg{
  
  width: 100%;
  height: 700px;
  background: url(../img/index/rwd/comic_background.png);
  /* border: 1px solid #f7f7f7; */
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
}



.imggg img {
  position: absolute;
  animation: float 4s ease-in-out infinite;
  width: 30%;
}

.imggg .rwd_a {
  left: 0%;
  top: 2%;
  width: 40%;
}

.imggg .rwd_b {
  right: 5%;
  top: 20%;
}

.imggg .rwd_c {
  animation: none;
    left: 1%;
    top: 62%;
}

.imggg .rwd_d {
  right: 1%;
  top: 50%;
}

.imggg .rwd_e {
  left: 33%;
  top: 72%;
  animation: move 1s ease-in-out infinite;
}

.imggg .rwd_f {
  right: 0%;
  top: 67%;
  animation: none;
}

.imggg .rwd_g {
  left: 25%;
  top: 70%;
}

.imggg .fu {
  left:24%;
  top: 36%;
  width: 50%;
  animation: none;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px rgb(241, 4, 4));
}
.imggg .river {
  left:24%;
  top: 16%;
  width: 50%;
  animation: none;
  overflow: hidden;
  filter: drop-shadow(3px 3px 3px rgb(241, 4, 4));
}




@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }


  
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}








.text{
  display: none;
}



  








.bottom .pp{
font-size: 8px;
   line-height: 1.6;
}



    .bottom .left, .center, .right {
  width: 34%;
 

}

    .bottom {
      display: flex;
     padding-top: 5px;
     position: relative;
     width: 394px;
     bottom: 0;
     color: #ffffff;
     background-size: auto 100px;
  
     padding: 10px 10px;
     justify-content: flex-end;
     background-image: url(../img/bottom_img.jpg);
     background-size: cover;
     background-position: center center;
  
   
   }
   
.bottom .right {
 
  align-self: center;
  vertical-align: middle;
  text-align:right;
  padding-left: 5px;
  width: 25%;
 
}

.bottom .left {
 
text-align: justify;
width: 100%;

 
}

.bottom img{

height: 20px;
margin-left: 5px;
display: none;
}

.bottom .center {
  margin-top: 15px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
 width: 35%;
 display: none;

}
}