@import url('./reset.css');

body {
  background: rgb(175, 66, 66);
  background: radial-gradient(circle, rgb(138, 14, 14) 4%, rgb(34, 17, 14) 100%);
  font-family: Candara, Arial, sans-serif;
  padding-top: 30px;
  width: 1440px;
  margin: 0 auto;
  
}

#header {

  display: flex;
  height: 150px;

}

.container {
  width: 1440px;
  height: 40px;
  margin: 0 auto;
}

.container img {
  /* float: left; */
  padding: 10px 20px;
  border-radius: 50%
}

nav {
  float: right;
  padding: 10px 60px;
  width: 1000px;


}

.container ul {
  margin: 0;
  list-style-type: none;
}

.container nav li {
  padding: 10px 20px;
  float: left;
  padding-top: 40px;
}

nav li:hover {
  color: wheat;
  font-weight: bold;


  opacity: 0.5;
}

.container nav a {
  color: white;
  text-decoration: none;
  font-size: 26px;
}


.icon {
  width: 100px;
  padding-top: 40px;
}




/* 上面是導覽列 */




.img{

  width: 1440px;
  height: 1200px;
  background-image: url(../img/information/information.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;
  position: relative;
 margin-bottom: 200px;
}



/* 下面是中間的img */



.box1{

width: 100px;
height: 200px;
/* border: 1px solid #ffffff;
background-color: #4fa210; */
position: absolute;
right: 323px;
top: 322px;


}

.box2{width: 100px;
  height: 200px;
  /* border: 1px solid #98078a;
  background-color: #4fa210; */
  position: absolute;
  right: 414px;
  top: 10px;
  }

.box3{width: 100px;
  height: 200px;
  /* border: 1px solid #1f4e70;
  background-color: #4fa210; */
  position: absolute;
  right: 841px;
  top: 0px;
}
  

.box4{width: 100px;
  height: 200px;
  /* border: 1px solid #4fa210;
  background-color: #4fa210; */
  position: absolute;
  right: 682px;
  top: 598px;
}

.box5{width: 100px;
  height: 200px;
  /* border: 1px solid #9d3939;
  background-color: #4fa210; */
  position: absolute;
  right: 991px;
  top: 962px;
  }


  .box1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }


  .box2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .box3:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }


  .box4:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }


  .box5:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }





/* 下面是底層 */


.bottom{

  width: 100%;
  display: flex;
  padding-top: 20px;
  position: relative;
  bottom: 0;
  background-color: rgb(28 26 26);
  background-size: auto 200px;
  background-repeat: no-repeat;
  
 
}
  

.bottom p{

  font-size: 20px;
  
 

}


.bottom .left{
  margin: auto 13px;
  width: 400px;
  line-height: 1.6;
  color: white;
  padding-left: 100px;
  font-size: 8px;
 
  


}



.bottom .min{
  width: 300px;
  color: white;
  line-height: 1.6;
  background-size:contain;
  font-size: 8px;
  margin-left: 50px;


}


.right{
padding-top: 50px;
padding-left: 300px;

}

.right img{
  padding-left: 20px;
  
  }