@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');


body {

  background-color: black;
  font-family: 'Noto Sans JP', sans-serif;
  /* 日文 */
  font-family: 'Noto Serif SC', serif;
  /* 中文 */
  width: 100%;
  margin: 0 auto;

}

body {
  background-color: black;
  background-image: url(../img/Member_login/background.jpg);
  background-position: left bottom;
  background-attachment: fixed;
  background-size: contain;
  background-size: cover;
  background-size: 30%;
  background-repeat: no-repeat;
  
}

nav {
  background: url(../img/index/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 10px;
  height: 90px;
  padding-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  width: 180px;
  padding-top: 40px;
  justify-content: center;

}

nav img {
  height: 90px;
  margin-right: 10px;

}



.shopping {
  height: 50px;
  width: 50px;
  margin-top: -22px;
  display: block;
}


nav ul .shoppingg {
  background-image: url(../img/icon/Shopping\ 5.png);
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;

}



.shoppingg:hover {
  background-image: url(../img/icon/color_shopping.png);

}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;


}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}


nav .member:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/member\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .album:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/album.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .author:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/author.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .box:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/box\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .information:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/information.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

nav .connection:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/connection.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
}

/* 上面是導覽列 */










.connect{
border: 3px #ffffff solid;
width: 500px;
height: 350px;
margin: 0 auto;
margin-bottom: 100px;
display: flex;
flex-direction:column;
align-items: center;
background-color: #ffffff;
background-image: url(../img/Member_login/ccc.png);
background-size: cover;
background-repeat: no-repeat;
margin-top: 60px;
padding-top: 30px;
}








.connect a{
  text-decoration: none;
  font-weight:800;
  

}


.connect .abc{

  color: #000000;
  font-size: 10px;
  width: 170px;
  padding-top: 5px;
}



.box_1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 2px solid #000000;
  color: #040404;
  background-color: rgb(140, 157, 194);
  border-radius: 10px;
  
}

.box_1 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
 margin-right: 15px;
 float: left;
  
}

.box_1 span {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.box_2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  border: 2px solid #000000;
  color: #040404;
  background-color: rgb(171, 208, 224,1);
  border-radius: 10px;
  
}

.box_2 img {
  display: block;
  max-width: 95%;
  max-height: 95%;
 margin-right: 24px;
  
}

.box_2 span {
  display: block;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
}




.box_1:hover, .box_1:focus {
 transform: scale(1.1);
}

.box_2:hover, .box_2:focus {
 transform: scale(1.1);
}

.container {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
button {
  display: inline-block;
  background-color: #050505; /* 背景顏色 */
  border: none; /* 去掉邊框 */
  color: white; /* 字體顏色 */
  text-align: center; /* 文字居中 */
  text-decoration: none; /* 去掉下劃線 */
  font-size: 16px; /* 字體大小 */
  cursor: pointer; /* 鼠標樣式 */
  border-radius: 4px; /* 圓角 */
  transition: all 0.3s; /* 過渡效果 */
  outline: none; /* 去掉點擊後的外框 */
  padding: 10px 20px; /* 內邊距 */
}

button:hover {
  transform: scale(1.1); /* 放大效果 */
}





/* 下面是底層 */

.bottom {
  display: flex;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  background-size: auto 200px;
  line-height: 1.4;
  padding: 10px 15px;
  justify-content: flex-end;
  font-size: 10px;
  background-image: url(../img/bottom_img.jpg);
  background-size: cover;
  background-position: center center;
  background-size: 20%;

}





.bottom .left,
.center,
.right {
  width: 100%;
  height: 100%;
}

.bottom .left {}

.bottom .center {

  text-align: center;
  line-height: 50px;
}

.bottom .right {

  align-self: center;
  vertical-align: middle;
  text-align: right;
  margin-right: 10px;

}

.bottom img {

  height: 25px;
  margin-left: 5px;
  margin-right: 10px;

}