@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');



#loading {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-size: 16px;
}

#loading-gif {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blink 6s linear infinite;
}




body::before {

  content: "1";
  background-image: url("../img/product_information/background.jpg");
  position: fixed;
  background-size: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* 上面是top */

nav {
  background: url(../img/index/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding: 10px;
  height: 90px;
  padding-top: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  width: 180px;
  padding-top: 40px;
  justify-content: center;

}

nav img {
  height: 90px;
  margin-right: 10px;


}



.shopping {
  height: 50px;
  width: 50px;
  margin-top: -22px;
  display: block;
}


nav ul .shoppingg {
  background-image: url(../img/icon/Shopping\ 5.png);
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;

}



.shoppingg:hover {
  background-image: url(../img/icon/color_shopping.png);

}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;


}

nav a:first-child {
  margin-left: 0;
}

nav a:last-child {
  margin-right: 0;
}


nav .member:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/member\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .album:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/album.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .author:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/author.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .box:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/box\ .png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


nav .information:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/information.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav .connection:hover {
  background-size: cover;
  color: transparent;
  background-image: url("../img/nav/connection.png");
  background-color: #fff;
  border-radius: 10%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 上面是導覽列 */


.commodity {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  /* border: 5px solid #aa1717; */
  margin-top: 50px;
  margin-bottom: 200px;
  overflow: hidden;
}


.arrangement_1 {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 300px;
  /* border: 5px solid #aa1717; */
  margin: 0 auto;
  /* background-image: url(../img/product_information/background_2.jpg); */

  background-size: cover;

}

.arrt {
  text-align: center;
}

.arrt img {
  display: block;
  margin: 0 auto;
  height: 180px;
  padding-bottom: 10px;
  padding-top: 25px;
  filter: drop-shadow(5px 5px 5px rgb(58, 3, 3));
}

img[name="Image 1"] {
  transition: all 0.3s ease-in-out;
}

img[name="Image 1"]:hover {
  transform: translateY(-10px);
}

.arrt h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

}

.arrt p {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  padding-top: 10px;
  font-weight: 100;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
}

/* ---------------------------------------- */


.imgg {

  width: 1000px;
  height: 400px;
  margin: 0 auto;
  /* border: 1px solid #ffffff; */
  display: flex;
  /* justify-content: center; */
  margin-bottom: 200px;

}


.imgg .imgg_l img {

  height: 400px;
  margin: 0 auto;

}


.imgg .imgg-r {

  color: #ffffff;
  line-height: 1.6;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}











/* 下面是底層 */

.bottom {
  display: flex;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  background-size: auto 200px;
  line-height: 1.4;
  padding: 10px 15px;
  justify-content: flex-end;
  font-size: 10px;
  background-image: url(../img/bottom_img.jpg);
  background-size: cover;
  background-position: center center;
  background-size: 20%;

}





.bottom .left,
.center,
.right {
  width: 100%;
  height: 100%;
}

.bottom .left {}

.bottom .center {

  text-align: center;
  line-height: 50px;
}

.bottom .right {

  align-self: center;
  vertical-align: middle;
  text-align: right;
  margin-right: 10px;

}

.bottom img {

  height: 25px;
  margin-left: 5px;
  margin-right: 10px;

}